name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27.2.0"
          gleam-version: "1.6.3"
          rebar3-version: "3"
          # elixir-version: "1.15.4"

      - run: gleam deps download 
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
    
      - run: npm ci
      - run: npm run build
      - run: npx partykit deploy
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY  }}          
          PARTYKIT_TOKEN: ${{ secrets.PARTYKIT_TOKEN }}
          PARTYKIT_LOGIN: ${{ secrets.PARTYKIT_LOGIN  }}