name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
        PARTYKIT_TOKEN: ${{ secrets.PARTYKIT_TOKEN }}
        PARTYKIT_LOGIN: ${{ secrets.PARTYKIT_LOGIN  }} 
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27.2.0"
          gleam-version: "1.6.3"
          rebar3-version: "3"
          # elixir-version: "1.15.4"

      - run: gleam deps download 
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
    
      - run: npm ci
      - run: npm run build
      - run: npx partykit deploy --var SUPABASE_URL=${{ secrets.SUPABASE_URL }} --var SUPABASE_KEY=${{ secrets.SUPABASE_KEY  }}
    